.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/kamilszpak.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/xcuserdata/kamilszpak.xcuserdatad/UserInterfaceState.xcuserstate
/.swiftpm/xcode/package.xcworkspace/xcuserdata
.DS_Store
